# Environment
.env
.env.*

# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask instance folder (local config, sqlite db)
instance/

# Database files
*.db
*.sqlite3

# ML Model files (binary, di-generate ulang via train.py)
app/ml/models/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Antigravity / Agents
/.agents
skills-lock.json

/dataset