{% extends 'layouts/auth_layout.html' %}
{% import 'components/ui.html' as components %}

{% block auth_heading %}Pendaftaran{% endblock %}
{% block auth_subheading %}Isi data berikut untuk mulai menggunakan{% endblock %}
{% block auth_footer_text %}Sudah memiliki akun?{% endblock %}
{% block auth_footer_url %}{{ url_for('main_bp.login') }}{% endblock %}
{% block auth_footer_link_text %}Login Disini{% endblock %}

{% block auth_form %}
<form action="{{ url_for('main_bp.register') }}" method="POST" class="space-y-6">
    {{ components.input('nama_lengkap', 'Nama Lengkap') }}
    {{ components.input('username', 'Username') }}
    {{ components.input('password', 'Password', type='password') }}
    {{ components.input('confirm_password', 'Konfirmasi Password', type='password') }}

    {{ components.button('Daftar') }}
</form>
{% endblock %}
